extends layout

block contenido
  h2 Buscar
  br
  form(method='GET' action='/buscar')
    input.form-control(type='text' name='q' value=termino placeholder='Buscar...')
    br
    button.btn.btn-primary(type='submit') Buscar
  br
  if termino
    h5 Resultados para: #{termino}
    br
    if resultados.length === 0
      p No se encontro nada
    .row
      each pub in resultados
        .col-md-4
          .card.mb-3
            .card-body
              h5 #{pub.titulo}
              p por #{pub.nombre_usuario}
              a(href='/publicaciones/' + pub.id) Ver