extends layout

block contenido
  h2 Bienvenido #{usuario.nombre_usuario}
  br
  .row
    each pub in publicaciones
      .col-md-4
        .card.mb-3
          .card-body
            h5 #{pub.titulo}
            p por #{pub.nombre_usuario}
            br
            a(href='/publicaciones/' + pub.id) Ver publicacion