html
  head
    title Nueva publicacion - Fotaza 2
  body
    h1 Nueva publicacion
    if error
      p= error
    form(method='POST' action='/publicaciones/nueva' enctype='multipart/form-data')
      input(type='text' name='titulo' placeholder='Titulo')
      br
      textarea(name='descripcion' placeholder='Descripcion (opcional)')
      br
      input(type='file' name='imagenes' multiple accept='image/*')
      br
      select(name='licencia')
        option(value='libre') Sin copyright
        option(value='copyright') Con copyright
      br
      button(type='submit') Publicar
    a(href='/') Volver