extends layout

block contenido
  h2 #{user.nombre_usuario}
  br
  p Seguidores: #{seguidores}
  p Siguiendo: #{seguidos}
  br
  if usuarioActual.id !== user.id
    form(method='POST' action='/usuarios/' + user.id + '/seguir')
      button.btn.btn-primary(type='submit')= estaSig ? 'Dejar de seguir' : 'Seguir'
  br
  a(href='/') Volver