html
  head
    title Registro - Fotaza 2
  body
    h1 Registro
    if error
      p= error
    form(method='POST' action='/auth/registro')
      input(type='text' name='nombre_usuario' placeholder='Usuario')
      br
      input(type='email' name='correo' placeholder='Correo')
      br
      input(type='password' name='contrasena' placeholder='Contrasena')
      br
      button(type='submit') Registrarse
    a(href='/auth/login') Ya tengo cuenta